<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuyakaido.android.cardstackview.fooder">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- App can be used without camera -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/f"
        android:label="@string/app_name"
        android:roundIcon="@drawable/f"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="com.yuyakaido.android.cardstackview.fooder.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yuyakaido.android.cardstackview.fooder.ChartActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.yuyakaido.android.cardstackview.fooder.TrendsActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.yuyakaido.android.cardstackview.fooder.FoodSelectionActivity"
            android:label="@string/app_name" />
        <activity android:name="com.yuyakaido.android.cardstackview.fooder.FoodActivity" />
        <activity android:name="com.yuyakaido.android.cardstackview.fooder.AboutUsActivity"></activity>
    </application>

</manifest>